<img src="/img/eyes.webp" class="bio-photo"> 

<a id="theme-toggle" onclick="modeSwitcher()"></a>

<!--
<p><em>“It matters not how strait the gate,<br>
      How charged with punishments the scroll,<br>
I am the master of my fate,<br>
      I am the captain of my soul.” ― <a href="https://www.poetryfoundation.org/poems/51642/invictus" rel="nofollow" target="_blank" title="My favorite poem of all time.">Invictus by William&nbsp;Henley</a></em></p>

<p><em>“Comparison is the thief of joy.” ― <a href="https://quoteinvestigator.com/2021/02/06/thief-of-joy/" rel="nofollow" target="_blank" title="Because I have to investigate everything.">Ray&nbsp;Cummings</a></em></p>
-->
<p><strong>Name:</strong> Richard Loren Bird</p>
<p><strong>Nicknames:</strong> Richie, Rico, Rick, Ricky</p>
<p><strong>Age:</strong> About 30</p>
<p><strong>Orientation:</strong> Androsexual</p>
<p><strong>Relationship:</strong> Engaged&nbsp;♥</p>
<p><strong>Current Interest(s):</strong> Bass, Disco &amp; other 60s/70s music</p>
<p><strong>Wants to Try:</strong> Making Plushies or other Animal Crafts, Making a Video Game</p>
<p><strong>Languages:</strong> English (Native), Spanish (Native), French&nbsp;(B1), German&nbsp;(A2‐B1)</p>
<p><strong>Hobbies &amp; Interests</strong> Playing Bass (I'm a noob), Singing (I suck), Drawing, HTML & CSS, Foreign Languages, Bead Bracelets/Crafts, True Crime, Video Games, Anthropomorphic Animals, Plushies, Ty Beanie Babies, World History, Zoology, Psychology, LGBT</p>
<p><strong>Other Likes:</strong> ASMR, Candles, Sanrio, Sweets, Coffee, Anime, Cartoons, Movies, Books, Sewing (I'm a noob at this, too)</p>
<p><strong>(WIP) My Top Favorite Bands &amp; Musicians:</strong></p>
      <ol style="margin-top:0px;padding-top:0px;">
            <li>The Beatles</li>
            <li>Fleetwood Mac</li>
            <li>China Crisis</li>
            <li>Kate Bush</li>
            <li>Gorillaz</li>
            <li>Rammstein</li>
            <li>KMFDM</li>
            <li>System of a Down</li>
            <li>Nine Inch Nails</li>
            <li>Marvin Gaye</li>
            <li>Chic</li>
            <li>Windows 96</li>
            <li>Radiohead</li>
            <li>Depeche Mode</li>
            <li>Mindless Self Indulgence</li>
            <li>Naked Eyes</li>
            <li>Tears for Fears</li>
            <li>The Smiths</li>
            <li>Oingo Boingo</li>
            <li>The Voidz</li>
            <li>Lemon Demon</li>
            <li>Jack Stauber</li>
            <li>Red Vox</li>
            <li>The Cure</li>
            <li>Tame Impala</li>
            <li>Fred Falke</li>
            <li>Miami Horror</li>
            <li>Sade</li>
            <li>Bill Withers</li>
            <li>Röyksopp</li>
            <li>Aphex Twin</li>
            <li>Michael Jackson</li>
      </ol>
<p><strong>Favorite Music Genres:</strong> Funk/Disco, New Wave, Synth-Pop, Hard Rock</p>
<p><strong>Favorite Video Games:</strong> Spyro 2, Okami, Hypnospace Outlaw, Broken Reality, Silent Hill 2, Animal Crossing, Postal 2, Grand Theft Auto: San Andreas, Hotline Miami, Penumbra, Snake Pass, Tomodachi Life, Pikmin</p>
<p><strong>Favorite Movies or Shows:</strong> Memento, Triangle, Scream, American Psycho, Drive, Ex Machina, Joker, Mulholland Drive, The Silence of the Lambs, Inglorious Basterds, Falling Down, Full Metal Jacket, Pan's Labyrinth, The Believer, Final Destination 5 & 6, Natural Born Killers, Van Helsing, Breaking Bad, Spiderman, Catwoman, Batman Begins, Svengali, CUBE, Bang Bang You're Dead, Carrie (2013), Nosferatu, Dr. Jekyll &amp; Mr. Hyde</p>
<p><strong>Favorite Animated Movies or Shows:</strong> End of Evangelion, Perfect Blue, Paranoia Agent, Hellsing, Death Note, Balto, The Iron Giant, Mulan, The Hunchback of Notre Dame, Serial Experiments Lain, Ouran High School Host Club, Dear Brother, Land of the Lustrous, Watamote, Ferngully, Watership Down, Red Wall</p>
<p><strong>Favorite Books:</strong> The Phantom of the Opera, Frankenstein, American Psycho, Carrie, Why Kids Kill, The Book Thief, Flowers for Algernon, Wuthering Heights, A Clockwork Orange, Souichi Tsujii</p>
<p><strong>(WIP) Favorite Artists:</strong> <a href="https://cmsmc.org/publications/her-perfection-is-my-wound" rel="nofollow" target="_blank">Hans Bellmer</a>, Jamie Hewlett, Junji Ito, <a href="https://www.instagram.com/kimnobleartist_/" rel="nofollow" target="_blank">Kim Noble</a></p>
<p><strong>Favorite Colors:</strong> Pink, Green, Blue-Green</p>
<p><strong>Favorite Number:</strong> Five&nbsp;(5)</p>
<p><strong>Favorite Animals:</strong> Birds, Frogs/Toads, Moles, Shrews</p>
<p><strong>Spirit Animal:</strong> The Mole</p>
<p><strong>Personality Type:</strong> INFP 4w3 468 or 458</p>
<p><strong>Bookmarks:</strong> <a href="https://maeveglaistig.wixsite.com/phantomproject" target="_blank" rel="nofollow" title="Gotta check these out.">The Phantom Library</a>, <a href="https://phantomstheater.weebly.com/" target="_blank" rel="nofollow" title="Lots of cool info.">Phantom's Theater</a>, <a href="https://schoolshooters.info/" target="_blank" rel="nofollow" title="I love this author.">SchoolShooters.info</a></p>

{% include stamps.html %}
