<!--Bi + Rainbow + Trans Flag--->
<div class="rainbow" uk-scrollspy="cls:uk-animation-slide-top;">
         <div style="height:3px;width:100%;background:#D70071"></div>
         <div style="height:2px;width:100%;background:#9C4E97"></div>
         <div style="height:3px;width:100%;background:#0035A9"></div>
         
         <div style="height:2px;width:100%;background:#7accf6"></div>
         <div style="height:2px;width:100%;background:#eaaeba"></div>
         <div style="height:2px;width:100%;background:#ffffff"></div>
         <div style="height:2px;width:100%;background:#eaaeba"></div>
         <div style="height:2px;width:100%;background:#7accf6"></div>
         
         <div style="height:2px;width:100%;background:#d32d1f"></div>
         <div style="height:2px;width:100%;background:#f09436"></div>
         <div style="height:2px;width:100%;background:#fdf050"></div>
         <div style="height:2px;width:100%;background:#38802d"></div>
         <div style="height:2px;width:100%;background:#1d4af6"></div>
         <div style="height:2px;width:100%;background:#6e1384"></div>
</div>

<!--Rainbow Flag
<div class="rainbow" uk-scrollspy="cls:uk-animation-slide-top;">
         <div style="height:3px;width:100%;background:#d10000"></div>
         <div style="height:3px;width:100%;background:#ff6622"></div>
         <div style="height:3px;width:100%;background:#ffda21"></div>
         <div style="height:3px;width:100%;background:#33dd00"></div>
         <div style="height:3px;width:100%;background:#1133cc"></div>
         <div style="height:3px;width:100%;background:#220066"></div>
         <div style="height:3px;width:100%;background:#330044"></div>
</div>--->

<!--Trans Flag
<div class="rainbow" uk-scrollspy="cls:uk-animation-slide-top;">
         <div style="height:3px;width:100%;background:#7accf6"></div>
         <div style="height:3px;width:100%;background:#eaaeba"></div>
         <div style="height:3px;width:100%;background:#ffffff"></div>
         <div style="height:3px;width:100%;background:#eaaeba"></div>
         <div style="height:3px;width:100%;background:#7accf6"></div>
</div>--->

<!--Gay Man Flag
<div class="rainbow" uk-scrollspy="cls:uk-animation-slide-top;">
         <div style="height:3px;width:100%;background:#078D70"></div>
         <div style="height:3px;width:100%;background:#26CEAA"></div>
         <div style="height:3px;width:100%;background:#98E8C1"></div>
         <div style="height:3px;width:100%;background:#ffffff"></div>
         <div style="height:3px;width:100%;background:#7BADE2"></div>
         <div style="height:3px;width:100%;background:#5049CC"></div>
         <div style="height:3px;width:100%;background:#3D1A78"></div>
</div>-->

<!--Bi Flag
<div class="rainbow" uk-scrollspy="cls:uk-animation-slide-top;">
         <div style="height:3px;width:100%;background:#D70071"></div>
         <div style="height:3px;width:100%;background:#D70071"></div>
         <div style="height:3px;width:100%;background:#D70071"></div>
         <div style="height:3px;width:100%;background:#9C4E97"></div>
         <div style="height:3px;width:100%;background:#9C4E97"></div>
         <div style="height:3px;width:100%;background:#0035A9"></div>
         <div style="height:3px;width:100%;background:#0035A9"></div>
         <div style="height:3px;width:100%;background:#0035A9"></div>
</div>-->
