<div style="margin-top:10px;">
<!--<p style="text-align:center;line-height: 135%;letter-spacing: 0.25em;text-transform: uppercase;"><script type="text/javascript" src="//counter.websiteout.com/js/24/0/0/0"></script> Hits</p>-->

<p style="text-align:center;line-height: 135%;letter-spacing: 0.25em;text-transform: uppercase;font-size:10px;padding:0 10px;margin-bottom:20px;">©&nbsp;{{ site.time | date: '%Y' }}&nbsp;no shy lover &bull; Last Updated {{ site.time | date: '%Y-%m-%d' }} &bull; <a href="https://pages.github.com" target="_blank" style="font-size:10px;" rel="nofollow">Powered by Github Pages</a></p>

<p style="text-align:center;line-height: 135%;letter-spacing: 0.25em;text-transform: uppercase;font-size:10px;margin-bottom:0px;margin-top:-10px;padding:0 10px 20px 10px;" class="hide-on-desktop"><a href="#top" uk-scroll style="font-size:10px;">Back to Top &nbsp;<i class="fas fa-arrow-up" aria-hidden="true"></i></a></p>

</div>
